:root {
    font-family: sans-serif;
}

@media screen and (max-width:365px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:12px;
    }
    .alert-info {
        background-color: aqua;
        border: 1px grey solid;
        padding: .75em;
        width: 100%;
        text-align: center;
    }
    .header-img>img {
        width:339px;
        height:224px;
    }
    .alert-info a {
        text-decoration: none;
    }
}
